.dashboard-container{
    display: flex;
    height: 100dvh;
    overflow: hidden;
}
.body-container{
    flex: 1;
}

@media (max-width:500px){
    .body-container{
        width: 100%;
        flex: unset;
    }
}