.container{
    text-align: center;
    background-color: var(--main);
    padding: 3em 2em 2em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.middle{
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.middle small{
    color: var(--text-light);
}
.form{
    margin-top: 1em;
}
.form input{
    padding: .85em 1em;
    border: 1px solid var(--border);
    background-color: transparent;
    border-radius: .5em;
}
.btn{
    background-color: var(--white);
    color: var(--dark);
    font-size: 1em;
    font-weight: bold;
    border: 0;
    border-radius: .5em;
}
.error{
    color: crimson;
    font-size: small;
    background-color: rgba(220, 20, 60, .1);
    border: 1px solid crimson;
    padding: .3em;
    border-radius: .5em;
    margin-top: 1em;
}

@media (max-width:500px) {
    .container{
        /* text-align: left; */
    }
}