.sidebar {
    width: 20%;
    position: relative;
    border-right: 1px solid var(--border);
    /* display: none; */
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: -1;
}

.sidebar ul {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    gap: .5em;
    margin-top: 70px;
}

.sidebar ul a {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .3em;
    transition: .2s;
}

.sidebar ul a:hover {
    gap: .85em;
    background-color: var(--secondary-1);
}

.sidebar .nav-link.active {
    background-color: var(--primary);
    color: #fefefe;
}

.sidebar .nav-link.active span {
    color: #fefefe;
}

.close-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-1);
    border-radius: 50%;
    visibility: hidden;
}

@media (max-width:900px) {
    .sidebar-label {
        display: none;
    }

    .sidebar {
        width: auto;
    }

    .sidebar ul a {
        align-items: center;
        gap: 0;
        padding: .5em .65em .2em;
    }
}

@media (max-width:500px) {
    .sidebar-label {
        display: block;
    }

    .sidebar {
        width: auto;
        position: fixed;
        top: 0;
        left: -70%;
        z-index: 1000;
        width: 70%;
        height: 100dvh;
        background-color: var(--secondary-1);
        transition: .2s;
    }

    .sidebar.open {
        left: 0;
    }

    .sidebar.open .overlay {
        display: block;
    }

    .sidebar ul a {
        align-items: center;
        gap: .65em;
        padding: .5em .65em .2em;
    }

    .close-btn {
        visibility: visible;
        background-color: var(--secondary-3);
    }

    .sidebar ul {
        height: unset;
        margin-top: 70px;
    }
}